@font-face {
    font-family: 'iranyekan';
    src: url("../fonts/eot/iranyekanwebregular.eot");
    src: url("../fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebregular.woff") format("woff"), url("../fonts/ttf/iranyekanwebregular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'iranyekan';
    src: url("../fonts/eot/iranyekanwebbold.eot");
    src: url("../fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebbold.woff") format("woff"), url("../fonts/ttf/iranyekanwebbold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

$font: 'iranyekan';

@import "../scss/_vars";

body {
    &.rtl, &.rtl .press-this a.wp-switch-editor { font-family: $font !important; }
}
.rtl {
    h1, h2, h3, h4, h5, h6, #wpadminbar *:not(.ab-icon) { font-family: $font !important; }
}

#dashboard_right_now {
    .continent-count {
        &:before { content : '\f319'; }
    }
    .country-count { 
        &:before { content : '\f227'; }
    }
    .state-count {
        &:before { content : '\f231'; }
    }
    .city-count {
        &:before { content : '\f541'; }
    }
    .location-count {
        &:before { content : '\f230'; }
    }
    .tour-count, .irantour-count {
        &:before { content : '\f527'; }
    }
    .hotelpackage-count {
        &:before { content : '\f512'; }
    }
    .media-count {
        &:before { content : '\f126'; }
    }
}

div.awesomplete {
    display: block;
    position: relative;
    width:100%;
    > ul {
        position: absolute;
        left: -10px;
        min-width: 100%;
        box-sizing: border-box;
        list-style: none;
        margin: .2em 0 0;
        background: hsla(0,0%,100%,1);
        background: linear-gradient(to bottom right, white, hsla(0,0%,100%,1));
        box-shadow: .05em .2em .6em rgba(0,0,0,.2);
        text-shadow: none;
        padding: 4px;
        z-index: 5;
        background-color: #fff;
        top: 2.5em;
        width: calc(100% + 3em);
        border: 1px solid #ababab;
        max-height: 240px;
        border-radius: 4px;
        overflow: auto;
        color: #13447e;
        /*:before {
            content: "";
            position: absolute;
            top: -.43em;
            left: 1em;
            width: 0; height: 0;
            padding: .4em;
            background: white;
            border: inherit;
            border-right: 0;
            border-bottom: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }*/
        &[hidden],
        &:empty {
            display: none;
        }
        > li {
            position: relative;
            cursor: pointer;
            // added by me
            white-space: nowrap;
            text-align: justify;
            direction: ltr;
            font-size: 0.85rem;
            overflow: hidden;
            :not(:last-child) {
                border-bottom: 1px solid #ddd;
            }
            :hover {
                background: $grey10;
                color: black;
                mark {
                    background: hsl(68, 100%, 41%);
                }
            }
            &[aria-selected="true"] {
                /*background: hsl(205, 40%, 40%);
                color: white;*/
                background: $grey10;
                mark {
                    background: hsl(86, 100%, 21%);
                    color: inherit;
                }
            }
            p {
                color: rgba(0, 0, 0, 0.87) !important;
                margin: 0;
                padding: 7px 0px 3px 10px;
            }
        }
    }
    mark {
        color: $secondary;
        background-color: transparent;
        margin-right:-1px;
    }
    > input {
        display: block;
    }
}

.has-awesomplete {
    .acf-input-wrap {
        overflow: unset;
    }
    .awesomplete > ul {
        width: 100%;
        left: 0;
        margin-top: -5px;
    }
    .visually-hidden {
        display: none !important;
    }
}


.acf_postbox {
    direction: rtl !important;
    text-align: right !important;
    font-family: yekan, tahoma !important;
    font-weight: normal !important;
    font-size: 13px !important;
    select {
        font-size: 13px !important;
    }
}
.acf-tab-group, .hl {
    > li {
        float: right;
        font-family: yekan, tahoma;
        a {
            font-weight: normal;
            font-size: 13px;
        }
    }
}
.acf_postbox p.label label {
    font-weight: normal;
}
ul.acf-radio-list.horizontal li, ul.acf-checkbox-list.horizontal li {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}
.acf-google-map .acf-sprite-remove, .acf-google-map .acf-sprite-locate {
    right: auto;
    left: 7px;
}
.acf_relationship .relationship_search {
    font-family: yekan, tahoma;
}
#acf-field-country_title, #acf-field-city_title, #acf-field-attraction_title, #acf-field-hotel_title {
    direction: ltr;
    text-align: left;
}

.acf-field {
    &.append-ltr .acf-input-append { direction: ltr; }
    &.input-ltr input { direction: ltr; }
    &.acf-field-checkbox {
        &[data-name="facilities"] {
            ul.acf-checkbox-list {
                column-count: 3;
                li { clear: both; }
            }
        }
    }
}
input.readonly, input[readonly], textarea.readonly, textarea[readonly] {
    background-color: #fff !important;
}
#setting_captcha .on-off-switch{
    .slide-button{
        background-color: transparent;
        border-color: transparent;
    }
    input:first-of-type:checked ~ .slide-button{
        background: #b2d27e;
        border: 1px solid #7c9258;
    }
    input:last-of-type:checked ~ .slide-button{
        background: #b73b27;
        border-color: #7f291b;
    }
}
table.wp-list-table {
    &.striped {
        tbody tr {
            &:nth-child(odd) { background-color: #f1f1f1; }
            &:hover { background-color: #e3e3e3; }
        }
    }
    th#cn-post-thumb { width: 70px; }
    th#cn-continent { width: 80px; }
    th#cn-country, th#cn-state, th#cn-city, th#cn-tour-status, th#cn-date { width: 100px; }
    th#cn-countries, th#cn-cities { width: 150px; }
    td.cn-post-thumb img { border: 1px solid #a0a0a0; }
}
.mce-btn {
    .mce-ico.mce-i-none { opacity: 0.65; }
}
