//-------------------------------
@media (min-width: 1300px) {
    .img-box4 {
        margin-right: 50px;
    }
}
.img-box4 {
    display: flex;
    gap: 30px;
    margin-left: -50px;
    position: relative;
    z-index: 2;
    &:before {
        content: '';
        width: calc(100% - 180px);
        height: calc(100% - 34px);
        background-color: $smoke-color;
        border-radius: 10px;
        position: absolute;
        top: 17px;
        left: 90px;
        z-index: -1;
    }
    img {
        border-radius: 10px;
        width: 100%;
    }
    .img1,
    .img2 {
        flex: 50%;
        width: calc(50% - 30px);
    }
    .img2 {
        margin-top: 56px;
    }
    .about-history {
        position: absolute;
        top: calc(50% - 60px);
        left: calc(50% - 60px);
    }
}

.about-history {
    background-color: $white-color;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    text-align: center;
    padding: 17px;
    &:before {
        content: '';
        position: absolute;
        inset: 10px;
        border: 2px solid $theme-color;
        border-radius: inherit;
    }
    .year {
        font-size: 30px;
        color: $theme-color;
        margin-bottom: 10px;
        line-height: 1;
    }
    .text {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.3;
    }
}

.about-list {
    display: flex;
    gap: 16px;
    text-align: left;
    &-wrap {
        display: grid;
        grid-template-columns: auto auto;
        padding: 30px;
        background-color: $smoke-color;
        border-radius: 10px;
        margin-bottom: 40px;
        max-width: 620px;
    }
    .box-title {
        margin-bottom: 7px;
    }
}

@include lg {
    .img-box4 {
        margin-left: 0;
    }
    .about-list {
        &-wrap {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@include sm {
    .about-list {
        flex-direction: column;
        text-align: center;
    }
}

@include xs {
    .img-box4 {
        gap: 16px;
        .img1,
        .img2 {
            width: calc(50% - 32px);
        }
    }
    .about-list {
        &-wrap {
            grid-template-columns: auto;
            gap: 30px;
        }
    }
}

//----------------------------------------
.about-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
    .avater {
        border-radius: 50%;
        overflow: hidden;
        height: 56px;
        width: 56px;
    }
    .title {
        font-size: 18px;
        margin-bottom: 6px;
        text-transform: uppercase;
    }
    .desig {
        margin-bottom: -.2em;
        font-size: 14px;
        font-weight: 500;
    }
}
.btn-group {
    &:has(.about-profile) {
        gap: 40px;
    }
}

@media (min-width: 1300px) {
    .img-box5 {
        margin-left: 30px;
    }
}

.img-box5 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    @include lg {
        justify-content: center;
    }
}

.about-counter {
    &-wrap {
        background-color: $smoke-color2;
        padding: 40px;
    }
    &:first-child {
        border-bottom: 1px solid $border-color;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    &__icon {
        margin-bottom: 10px;
    }
    &__number {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 500;
        margin-bottom: -0.5em;
    }
}

@include sm {
    .img-box5 {
        flex-wrap: wrap;
    }
    .about-counter {
        &-wrap {
            display: grid;
            grid-template-columns: auto auto;
            width: 100%;
            padding: 40px 10px;
        }
        &:first-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
        text-align: center;
    }
}

@include sm {
    .btn-group {
        &:has(.about-profile) {
            gap: 20px;
        }
    }
}

//-------------------------------------
.img-box7 {
    position: relative;
    text-align: center;
    .img1 {
        display: inline-block;
        margin-right: 10px;
    }
    .img2 {
        position: absolute;
        top: 16%;
        left: -120px;
        animation: planeAni 15s linear infinite;
        z-index: -1;
    }
}

@keyframes planeAni {
    0% {
        transform: rotate(-70deg) translate(-20px, 90px);
    }
    50% {
        transform: rotate(0) translate(0, 0);
    }
    100% {
        transform: rotate(-70deg) translate(-20px, 90px);
    }
}

@include lg {
    .img-box7 {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

@include sm {
    .img-box7 .img2 {
        top: 25%;
        left: -30px;
        max-width: 90px;
    }
    @keyframes planeAni {
        0% {
            transform: rotate(-70deg) translate(-40px, 50px);
        }
        50% {
            transform: rotate(0) translate(0, 0);
        }
        100% {
            transform: rotate(-70deg) translate(-40px, 50px);
        }
    }
}

//-------------------------------------
@media (min-width: 1300px) {
    .img-box9 {
        margin-right: 50px;
    }
}
.img-box9 {
    position: relative;
    text-align: center;
    .year-counter {
        position: absolute;
        right: 0;
        bottom: 30px;
    }
}
.year-counter {
    width: 230px;
    height: 230px;
    background-color: $white-color;
    border: 2px dashed $theme-color;
    border-radius: 999px;
    padding: 40px 10px;
    &_number {
        font-size: 70px;
        font-weight: 900;
        margin-bottom: 8px;
    }
    &_text {
        margin-bottom: 0;
        font-weight: 700;
        text-transform: uppercase;
    }
}

@include sm {
    .year-counter {
        width: 180px;
        height: 180px;
        padding: 27px 10px;
        &_number {
            font-size: 56px;
        }
    }
}

@include xs {
    .img-box9 {
        padding-bottom: 50px;
        .year-counter {
            bottom: 0;
        }
    }
}

//-------------------------------
@media (min-width: 1300px) {
    .img-box11 {
        margin-right: 50px;
        margin-left: -50px;
    }
}
.img-box11 {
    position: relative;
    text-align: center;
}