//---------------------------------------
.blog-box {
    background-color: $white-color;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 22px 30px;
    .blog-img {
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }
    .blog-meta {
        margin-bottom: 16px;
    }
    .link-btn {
        font-weight: 500;
    }
    &:hover {
        .blog-img {
            img {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 350px) {
    .blog-box {
        padding: 22px 20px;
        .blog-title {
            font-size: 22px;
        }
    }
}

//---------------------------------------
.blog-block {
    --space: 30px;
    .blog-img {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        img {
            width: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: inherit;
            background-color: $title-color;
            opacity: 0;
            transition: 0.4s ease-in-out;
            pointer-events: none;
        }
    }
    .icon-btn {
        position: absolute;
        top: calc(50% - 90px);
        left: calc(50% - 28px);
        background-color: $theme-color;
        border-color: $theme-color;
        color: $white-color;
        visibility: hidden;
        opacity: 0;
        transform: translateY(50px);
        z-index: 3;
        &:hover {
            background-color: $title-color;
        }
    }
    .blog-content {
        position: relative;
        z-index: 3;
        margin-top: -130px;
        margin-left: var(--space);
        margin-right: var(--space);
        border-radius: 5px;
        box-shadow: 0px 4px 15px rgba(22, 25, 33, 0.06);
        background-color: $white-color;
        padding: 30px 40px;
    }
    .blog-text {
        margin-bottom: 0;
    }
    .blog-title {
        margin-top: 10px;
    }
    .blog-bottom {
        padding-top: 15px;
        border-top: 1px solid $border-color;
        margin-bottom: -10px;
    }
    &:hover {
        .blog-img {
            &:after {
                opacity: 0.5;
            }
        }
        .icon-btn {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@include md {
    .blog-block {
        --space: 15px;
        .blog-content {
            padding: 25px 20px;
        }
    }
}

@include sm {
    .blog-block {
        --space: 30px;
        .blog-content {
            padding: 30px 40px;
        }
    }
}

@include xs {
    .blog-block {
        --space: 25px;
        .blog-content {
            padding: 30px 30px;
        }
    }
}

@include vxs {
    .blog-block {
        --space: 15px;
        .blog-content {
            padding: 25px 20px;
        }
    }
}

@media (max-width: 360px) {
    .blog-block {
        .blog-title {
            font-size: 20px;
        }
    }
}