//----------------------------------
.cta-box {
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 3;
    &__content {
        border-radius: inherit;
        background-color: rgba($color: #161921, $alpha: 0.7);
        padding: 75px 15px;
    }
    &__title {
        color: $white-color;
        text-transform: uppercase;
    }
    &__subtitle {
        color: $white-color;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        margin-top: -0.4em;
        margin-bottom: 10px;
        &:before,
        &:after {
            content: '';
            height: 2px;
            width: 50px;
            background-color: $white-color;
        }
    }
    &__text {
        color: $white-color;
        margin-bottom: 25px;
    }
}

@include lg {
    .cta-box {
        padding: 30px;
    }
}

@include md {
    .cta-box {
        padding: 40px;
    }
}

@include xs {
    .cta-box {
        padding: 20px;
        &__content {
            padding: 50px 10px;
        }
        &__subtitle {
            letter-spacing: 0.1em;
            &:before,
            &:after {
                width: 30px;
            }
        }
    }
}

//----------------------------------------
.cta-sec4 {
    padding-bottom: 45px;
    @include lg {
        padding-bottom: 0;
    }
}

//---------------
.cta-sec6 {
    margin-top: -220px;
    padding-top: 190px;
    background-size: 100% 100%;
    @include xl {
        background-size: 1920px 100%;
    }
}

//----------------------------------------
.gallery-card {
    .gallery-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }
}
#gallery-slide3 .slick-center {
    .gallery-card {
        .gallery-img {
            &:before {
                transform: scaleX(1);
            }
        }
        .gallery-btn {
            transform: translate(-50%, -50%);
            visibility: visible;
            opacity: 1;
        }
    }
}

//------------------------------------------
.img-box8 {
    transform: translateY(60px);
    @include lg {
        transform: translateY(0);
        text-align: center;
        margin-top: -50px;
    }
}

.rating-stars {
    color: $yellow-color;
    i {
        margin-right: 3px;
        &:last-child {
            margin-right: 0 !important;
        }
    }
}