//------------------------------------------
.flight-card {
    --body-color: #A9AFBF;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9.2px);
    border-radius: 10px;
    .box-img {
        border-radius: inherit;
        img {
            width: 100%;
        }
    }
    .location {
        color: $white-color;
        background-color: $theme-color;
        padding: 0 12px;
        border-radius: 99px;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .price-wrap {
        margin-top: 22px;
        margin-bottom: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .airlines {
        margin-bottom: 0;
        i {
            color: $theme-color;
            margin-right: 4px;
        }
    }
    .box-price {
        color: $white-color;
        .price {
            font-size: 18px;
            font-weight: 700;
            color: $theme-color;
        }
    }
    .box-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .box-title {
        color: $white-color;
        margin-bottom: 6px;
    }
    .ot-btn {
        padding: 12px 20px;
        min-width: 120px;
        border-color: rgba($color: #fff, $alpha: 0.3);
        &:hover {
            border-color: $white-color;
        }
    }
    &:hover {
        .box-img {
            img {
                transform: scale(1.08);
            }
        }
    }
}

@include vxs {
    .flight-card {
        padding: 20px;
        font-size: 14px;
        .box-title {
            font-size: 22px;
        }
        .box-price .price {
            font-size: 16px;
        }
    }
}