/* Tour 1 ------------------------------- */
.hotel-meta {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    a,
    span {
        font-size: 16px;
        i {
            color: $theme-color;
            margin-right: 3px;
        }
    }
}

.hotel-card {
    padding: 30px;
    border-radius: 8px;
    background-color: $white-color;
    box-shadow: 0px 5px 15px rgba(10, 29, 53, 0.06);
    &__img {
        border-radius: 8px;
        margin-bottom: 24px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }
    &__top,
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__top {
        margin-top: -0.3em;
        margin-bottom: 16px;
    }
    &__bottom {
        border-top: 1px dashed #bdbdbd;
        padding-top: 20px;
        margin-top: 15px;
    }
    &__rating {
        color: $yellow-color;
        i {
            font-size: 13px;
            margin-left: 2px;
        }
    }
    .price {
        color: $theme-color;
        font-weight: 500;
    }
    .link-btn {
        font-weight: 500;
        font-size: 14px;
        color: $body-color;
        i {
            color: $theme-color;
        }
        &:hover {
            color: $theme-color;
        }
    }
    .ot-btn {
        padding: 11px 14px;
        min-width: auto;
        background-color: $title-color;
        &:before {
            background-color: $theme-color;
        }
    }
    &:hover {
        .hotel-card {
            &__img {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.hotel-sec1 {
    background-image: linear-gradient(to top, $smoke-color, $smoke-color);
    background-size: 100% 526px;
    background-repeat: no-repeat;
    background-position: top center;
}

@media (max-width: 360px) {
    .hotel-card {
        padding: 20px;
        .hotel-meta a, 
        .hotel-meta span {
            font-size: 14px;
        }
    }
}

//--------------------------------------------
.hotel-box {
    --space: 30px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(22, 25, 33, 0) 45.31%, #161921 100%);
        border-radius: inherit;
    }
    .box-img {
        img {
            width: 100%;
        }
    }
    .box-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 3;
        padding: var(--space);
    }
    .ot-btn {
        padding: 10px 13px;
        min-width: 100px;
        position: absolute;
        top: var(--space);
        left: var(--space);
        visibility: hidden;
        opacity: 0;
        transform: translateY(50px);
    }
    .box-title {
        color: $white-color;
        margin-bottom: -0.34em;
    }
    .box-text {
        color: $white-color;
        font-size: 14px;
        margin-bottom: 12px;
    }
    .rating-stars {
        font-size: 12px;
    }
    &:hover {
        .box-img {
            img {
                transform: scale(1.07);
            }
        }
        .ot-btn {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }
} 

@include md {
    .hotel-box {
        .box-img {
            img {
                min-height: 260px;
                object-fit: cover;
            }
        }
    }
}