//-----------------------------------
.search-box {
    &.style3 {
        background-color: $smoke-color2;
        margin-top: -40px;
        border-radius: 0;
        box-shadow: none;
    }
}
.video-sec3 {
    padding-bottom: 40px;
}