//-------------------------------
.service-card {
    &-area {
        padding: 50px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
        background-color: $white-color;
        max-width: 535px;
        margin-left: auto;
        margin-right: 100px;
    }
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    &__icon {
        @include equal-size-lineHeight(60px);
        background-color: $white-color;
        border: 1px solid $theme-color;
        text-align: center;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        img {
            transition: 0.4s ease-in-out;
        }
        &:before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: $theme-color;
            border-radius: inherit;
            transition: 0.4s ease-in-out;
            transform: scale(0);
            z-index: -1;
        }
    }
    .box-title {
        margin-bottom: 7px;
    }
    &__text {
        margin-bottom: -0.5em;
        line-height: 25px;
    }
    &:hover {
        .service-card {
            &__icon {
                &:before {
                    transform: scale(1);
                }
                img {
                    filter: brightness(0) invert(1);
                    transform: rotateY(360deg);
                }
            }
        }
    }
}

@include lg {
    .service-card {
        &-area {
            margin-right: auto;
        }
    }
}

@include xl {
    .service-card-area {
        padding: 50px 20px;
    }
}

//-------------------------------
.service-box {
    background-color: $white-color;
    box-shadow: 0px 3px 15px rgba(22, 25, 33, 0.04);
    border-radius: 30px;
    padding: 40px 10px;
    text-align: center;
    @include xs {
        padding: 40px;
    }
    @media (max-width: 360px) {
        padding: 40px 10px;
    }
    .box-icon {
        margin-bottom: 30px;
    }
    .box-text {
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
        @include xs {
            max-width: 330px;
        }
    }
    &:hover {
        box-shadow: 0px 3px 15px rgba(22, 25, 33, 0.06);
    }
} 

//-------------------------------
.service-grid {
    background-color: $white-color;
    box-shadow: 0px 3px 15px rgba(22, 25, 33, 0.04);
    border-radius: 10px;
    padding: 40px 10px;
    text-align: center;
    @include xs {
        padding: 40px;
    }
    @media (max-width: 360px) {
        padding: 40px 10px;
    }
    .box-icon {
        margin: 0 auto 30px auto;
        height: 100px;
        width: 100px;
        line-height: 100px;
        background-color: #ededed;
        clip-path: path("M2.90094 12.1931C7.15498 6.30995 18.2494 12.8634 29.6769 12.1931C41.021 11.4484 49.1954 9.95901 61.2068 6.60783C73.2183 3.18219 89.0666 -2.10522 95.8231 2.43748C102.663 7.05465 100.327 21.4275 99.4932 32.8959C98.5757 44.2899 99.1596 52.6306 98.242 61.7905C97.3245 71.0248 94.8221 80.9294 88.2325 88.4509C81.6429 95.9725 70.9661 100.962 60.623 100.664C50.1964 100.292 40.1869 94.632 30.094 89.8659C19.9176 85.1742 9.74129 81.4507 5.98773 74.6739C2.15075 67.8971 4.65313 58.067 2.90147 47.1943C1.1498 36.396 -1.3531 18.0763 2.90094 12.1931Z");
        text-align: center;
    }
    .box-text {
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
        @include xs {
            max-width: 330px;
        }
    }
    &:hover {
        box-shadow: 0px 3px 15px rgba(22, 25, 33, 0.06);
    }
} 