/* Taxi Card ---------------------------------- */
.taxi-card {
    --space: 40px;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(22, 25, 33, 0.06);
    border-radius: 10px;
    overflow: hidden;
    background-color: $white-color;
    .box-img {
        overflow: hidden;
        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }
    .box-icon {
        i {
            @include equal-size(100px);
            line-height: 80px;
            background-color: $theme-color;
            color: $white-color;
            border: 10px solid $white-color;
            font-size: 36px;
            border-radius: 50%;
            margin-top: -50px;
            margin-bottom: 20px;
        }
    }
    .box-title {
        margin-bottom: 6px;
        // color: $white-color;
        a:hover {
            color: $title-color;
        }
    }
    .day {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
    }
    .box-content {
        // background-color: $theme-color;
        padding: var(--space);
        position: relative;
        z-index: 2;
    }
    .box-subtitle {
        margin-bottom: 19px;
    }
    .box-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        b {
            font-weight: normal;
            color: $title-color;
        }
        span {
            color: $body-color;
        }
    }
    .ot-btn {
        margin-top: 15px;
        width: 100%;
    }
    &:hover {
        .box-img {
            img {
                transform: scale(1.08);
            }
        }
    }
}

@include md {
    .taxi-card {
        --space: 30px;
    }
}

@media (max-width: 360px) {
    .taxi-card {
        --space: 20px;
    }
}