//---------------------------------------------
.activity-card {
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(22, 25, 33, 0.06);
    border-radius: 5px;
    background-color: $white-color;
    text-align: center;
    .box-img {
        position: relative;
        overflow: visible;
        img {
            transition: 0.4s ease-in-out;
        }
    }
    .img {
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .box-icon {
        @include equal-size-lineHeight(80px);
        background-color: $white-color;
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 40px);
        bottom: -10px;
        z-index: 3;
        box-shadow: 0px 10px 50px rgba(22, 25, 33, 0.07);
        transition: 0.4s ease-in-out;
    }
    .box-title {
        margin-top: 30px;
    }
    .box-text {
        margin-bottom: 21px;
        padding: 0 30px;
    }
    .box-bottom {
        border-top: 1px solid $border-color;
        padding: 13px;
    }
    &:hover {
        .box-icon {
            background-color: $theme-color;
            img {
                transform: rotateY(180deg);
                filter: brightness(0) invert(1);
            }
        }
        .img {
            img {
                transform: scale(1.07);
            }
        }
    }
}

//--------------------------------------
.tour-meta {
    a {
        color: $body-color;
        &:hover {
            color: $theme-color;
        }
    }
}
.tour-box {
    --space: 40px;
    box-shadow: 0px 4px 15px rgba(22, 25, 33, 0.06);
    border-radius: 5px;
    overflow: hidden;
    .box-img {
        position: relative;
        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }
    .box-icon {
        display: inline-block;
        @include equal-size-lineHeight(50px);
        background-color: $smoke-color2;
        border-radius: 50%;
        text-align: center;
        color: $title-color;
        position: absolute;
        bottom: -25px;
        right: var(--space);
        transition: 0.4s ease-in-out;
        &:hover {
            background-color: $theme-color;
            color: $white-color;
        }
    }
    .tour-meta {
        display: block;
        margin-top: -0.4em;
    }
    .box-content {
        padding: var(--space);
        padding-bottom: 0;
    }
    .box-title {
        font-size: 22px;
        margin-top: 8px;
    }
    .box-rating {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $title-color;
        margin-bottom: 21px;
    }
    .rating-stars {
        color: $yellow-color;
        margin-right: 5px;
    }
    .box-bottom {
        padding: 14px var(--space);
        border-top: 1px solid $border-color;
        .tour-meta {
            margin-top: 0;
            display: flex;
            justify-content: space-between;
        }
    }
    &:hover {
        .box-img {
            img {
                transform: scale(1.08);
            }
        }
    }
}

#tourSlide4 {
    margin-right: 15px;
}

@include xxl {
    #tourSlide4 {
        margin-right: 0;
        margin-left: 0;
    }
}

@include sm {
    .tour-box {
        --space: 20px;
    }
}

@include xs {
    .tour-box {
        --space: 40px;
    }
}

@media (max-width: 360px) {
    .tour-box {
        --space: 30px;
    }
}

//------------------------------------------------
.deal-card {
    &-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 6px 30px rgba(22, 25, 33, 0.07);
    border-radius: 10px;
    padding: 24px;
    .ot-btn {
        padding: 10px 13px;
        min-width: 100px;
        border-color: $body-color;
        color: $body-color;
        &:hover {
            border-color: $theme-color;
            color: $white-color;
            &:before {
                background-color: $theme-color;
            }
        }
    }
    .box-title {
        margin-bottom: 5px;
    }
    .price {
        color: $theme-color;
        font-weight: 600;
    }
}

@include ml {
    .deal-card {
        &-wrap {
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
        }
    }
}
@include md {
    .deal-card {
        &-wrap {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@include sm {
    .deal-card {
        .box-title {
            font-size: 22px;
        }
    }
}
@include xs {
    .deal-card {
        &-wrap {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

//---------------------------------------------
.activity-box {
    --space: 30px;
    position: relative;
    padding-bottom: 85px;
    .box-img {
        position: relative;
        img {
            width: 100%;
        }
        .shape {
            position: absolute;
            inset: 0;
            background-size: 100% 100%;
        }
    }
    .box-content {
        padding: 0 var(--space);
        margin: 0 var(--space);
        margin-top: -100px;
        background-color: $white-color;
        box-shadow: 0px 4px 25px rgba(22, 25, 33, 0.07);
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(1005 - var(--space)*2);
    }
    .box-icon {
        @include equal-size-lineHeight(70px);
        background-color: $white-color;
        border-radius: 50%;
        transform: translateY(-35px);
        box-shadow: 0px 10px 50px rgba(22, 25, 33, 0.07);
        transition: 0.4s ease-in-out;
        text-align: center;
        margin-bottom: -22px;
        img {
            transition: 0.4s ease-in-out;
        }
    }
    .box-title {
        margin-bottom: 10px;
    }
    .box-text {
        margin-bottom: 0;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        line-height: 24px;
        transition: 0.4s ease-in-out;
    }
    .box-bottom {
        border-top: 1px solid $border-color;
        padding: 13px 0;
        margin-top: 15px;
    }
    &:hover {
        .box-icon {
            background-color: $theme-color;
            box-shadow: none;
            img {
                transform: rotateY(180deg);
                filter: brightness(0) invert(1);
            }
        }
        .box-img {
            img {
                transform: scale(1.06);
            }
        }
        .box-text {
            margin-bottom: 15px;
            max-height: 60px;
            visibility: visible;
            opacity: 1;
        }
    }
}

@include lg {
    .activity-box {
        --space: 25px;
    }
}

//---------------------------------------------
.activity-grid {
    --space: 35px;
    border: 1px solid $border-color;
    .box-img {
        margin: 15px;
        overflow: visible;
        img {
            width: 100%;
        }
        .shape {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 10px;
            background-size: 100% 100%;
            background-position: bottom center;
            z-index: 3;
        }
    }
    .price {
        background-color: $theme-color;
        color: $white-color;
        font-size: 22px;
        color: $white-color;
        font-family: $title-font;
        font-weight: 700;
        height: 60px;
        min-width: 60px;
        border-radius: 99px;
        position: absolute;
        bottom: -30px;
        left: calc(var(--space) - 15px);
        z-index: 3;
        text-align: center;
        padding: 16px 5px;
    }
    .box-content {
        padding: 36px var(--space) 25px var(--space);
    }
    .box-title {
        margin-bottom: 12px;
    }
    .box-bottom {
        margin: 0 var(--space);
        padding: 13px 0;
        border-top: 1px solid $border-color;
        .tour-meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
#activitySlide3 {
    margin-right: 15px;
}

@include xxl {
    #activitySlide3 {
        margin-right: 0;
        margin-left: 0;
    }
}

@include vxs {
    .activity-grid {
        --space: 25px;
        .box-img {
            margin: 10px;
        }
    }
}