// Why v3---------------------------------------
.choose-feature {
    &-wrap {
        display: grid;
        grid-template-columns: auto auto;
        max-width: 710px;
        gap: 50px 20px;
        @include lg {
            margin: 0 auto;
        }
    }
    display: flex;
    text-align: left;
    gap: 20px;
    .box-icon {
        @include equal-size-lineHeight(70px);
        background-color: rgba($color: #3CB371, $alpha: 0.1);
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
        img {
            transition: 0.4s ease-in-out;
        }
    }
    .box-title {
        font-size: 20px;
        margin-bottom: 12px;
    }
    &-list {
        .choose-feature {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
        @include lg {
            max-width: 435px;
            margin: 0 auto;
        }
    }
}

@include sm {
    .choose-feature {
        flex-direction: column;
        align-items: center;
        text-align: center;
        &-wrap {
            gap: 35px 20px;
        }
    }
}

@include xs {
    .choose-feature {
        &-wrap {
            grid-template-columns: auto;
        }
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.img-box6 {
    position: relative;
    border-radius: 999px;
    display: inline-block;
    overflow: hidden;
    .img1 {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .shape1 {
        position: absolute;
        bottom: 0;
        left: 0;
        img {
            width: 100%;
        }
    }
    .box-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px 10px 50px 0;
    }
    .title {
        font-family: $body-font;
        font-size: 18px;
        font-weight: 700;
        color: $title-color;
    }
}

@include xs {
    .img-box6 {
        .box-content {
            padding: 10px 10px 15px 0;
        }
    }
}

//-------------------------------------
.img-box10 {
    position: relative;
    .box-content {
        position: absolute;
        bottom: 16%;
        left: 0;
        background-color: $theme-color;
        padding: 14px;
        border-radius: 999px;
        .box-text {
            font-size: 24px;
            font-weight: 700;
            color: $white-color;
            height: 90px;
            width: 90px;
            line-height: 90px;
            position: absolute;
            top: calc(50% - 45px);
            left: calc(50% - 45px);
            border: 2px dashed $white-color;
            border-radius: inherit;
            text-align: center;
        }
    }
}

@include lg {
    .img-box10 {
        margin-left: 80px;
        margin-top: -80px;
    }
}

@include md {
    .img-box10 {
        margin-left: 0;
        margin-top: -60px;
    }
}


// Why v5 ----------------------------------------
.img-box12 {
    .img1 {
        img {
            max-width: fit-content;
        }
    }
}

@include lg {
    .img-box12 {
        text-align: center;
        .img1 {
            img {
                max-width: 100%;
            }
        }
    }
}

.booking-feature {
    &-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    box-shadow: 0px 10px 50px rgba(22, 25, 33, 0.07);
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    .title-wrap {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 12px;
    }
    .box-icon {
        width: 60px;
        height: 60px;
        min-width: 60px;
        line-height: 60px;
        text-align: center;
        background-color: $smoke-color;
        border-radius: 10px;
    }
    .box-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
    }
}

@include lg {
    .booking-feature-wrap {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

@include sm {
    .booking-feature {
        text-align: center;
        .title-wrap {
            flex-direction: column;
        }
    }
}

@include xs {
    .booking-feature-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}