/*
 Theme Name:   Travon Child
 Theme URI: https://angfuzsoft.com/templatemonster/wordpress/travon
 Description:  This is a child theme for Travon WordPress Theme
Author URI: https://themeforest.net/user/adivaha-themes
 Author URI:   #
 Template:     travon
 Version:      1.0
 Tags:         two-columns, three-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu, theme-options, editor-style, featured-images, microformats, post-formats,  sticky-post, threaded-comments, translation-ready
 Text Domain:  travon-child
*/

/*  [ Add your custom css below ]
- - - - - - - - - - - - - - - - - - - - */