#colophon {
  p {
    color: #9e9e9e;
    font-size: 12px;
  }
  .menu-wrapper {
    > img {
      width: auto;
    }
    ul {
      width: 330px;
      column-count: 2;
      margin-top: 20px;
      list-style-type: none;
      li {
        padding-bottom: 5px;
        a {
          font-size: 14px;
          color: #616161;
          font-weight: 200;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
    ul {
      &.social-networks {
        flex-direction: row;
      }
    }
  }
  .address-box {
    height: 170px;
    border-radius: 15px;
    background-color: #fff;
    .tel-box {
      a {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
      }
    }
    .address-box {
      font-size: 14px;
      font-weight: 200;
    }
    .google-map {
      a {
        color: #23c1e5;
      }
    }
    .social-network,
    .social-network-en {
      left: 0;
      right: 0;
      margin-top: 18px;
      position: absolute;
      ul {
        li {
          width: 40px;
          height: 40px;
          border-radius: 8px;
          background: #f1f2f4;
          a {
            i {
              display: flex;
              margin-top: 12px;
              justify-content: center;
              &::before {
                color: #52575c;
              }
            }
          }
        }
      }
    }
  }
  .namad-box {
    background-color: #fff;
    .copyright {
      span {
        p {
          color: #23c1e5;
        }
      }
    }
    .cn-arrow-footer {
      .icon-arrow-up {
        width: 44px;
        bottom: 33%;
        height: 44px;
        cursor: pointer;
        border-radius: 50%;
        background: #ffddd3;
        &::before {
          display: flex;
          font-size: 20px;
          color: #ff5722;
          margin-top: 11px;
          margin-right: 11px;
          margin-left: 12px;
        }
      }
    }
  }
  #footer-accordion {
    width: 250px;
    .card-header {
      border-radius: 50px;
      border-color: transparent;
      > span {
        color: #9e9e9e;
        i {
          transition: all 0.4s;
        }
        &.opened {
          i {
            transform: rotate(-90deg);
          }
        }
      }
    }
    .card-body {
      ul {
        align-items: flex-start;
      }
    }
    #collapseOne {
      height: 0;
      overflow: hidden;
      transition: all 0.5s;
      &.opened {
        height: 145px;
      }
    }
  }
  .copyright {
    color: #9e9e9e;
    font-size: 12px;
    a {
      color: #9e9e9e;
      font-size: 12px;
      &:hover {
        color: $secondarydarker;
      }
    }
  }
  #logo-licenses {
    display: flex;
    margin-bottom: 0;
    li {
      width: 70px;
      height: 70px;
      padding: 7px 3px 0 0;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 40px 100px 0px rgba(0, 0, 0, 0.06),
        0px 0px 6px 0px rgba(0, 0, 0, 0.02);
      img {
        width: 55px;
        height: 55px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
#pwa-notif {
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  span,
  a {
    font-size: 12px;
    font-weight: 500;
  }
  a {
    background: #e5e5e5;
    color: $secondary;
    min-width: 73px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  i {
    font-size: 20px;
    margin: 0;
    height: 45px;
    display: flex;
    width: 30px;
    align-items: center;
    justify-content: center;
    color: #a0a4a8;
  }
  &.closed {
    bottom: -200px;
  }
}
.footer-whatsapp-share {
  display: flex;
  display: -webkit-flex;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: #2db742;
  color: white;
  width: 45px;
  height: 45px;
  font-size: 31px;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  border-radius: 50%;
  z-index: 999;
  box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.14);
  cursor: pointer;
  .close {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.4s;
    font-size: 18px;
    margin: 0 auto;
    color: #fff;
  }
  .whatsapp {
    transition: all 0.4s;
    position: absolute;
  }
  &.footer-whatsapp-share-open {
    .whatsapp {
      visibility: hidden;
      opacity: 0;
      transform: rotate(180deg);
    }
    .close {
      visibility: visible;
      opacity: 1;
      transform: rotate(-180deg);
    }
  }
}
.footer-whatsapp-share-box {
  opacity: 0;
  right: 15px;
  width: 345px;
  height: 430px;
  bottom: -50px;
  z-index: 10000;
  position: fixed;
  overflow-y: auto;
  border-radius: 5px;
  visibility: hidden;
  background: white;
  transition: all 0.6s;
  box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.04);
  &.footer-whatsapp-share-box-open {
    opacity: 1;
    bottom: 75px;
    visibility: visible;
  }
  .footer-whatsapp-share-header {
    height: 110px;
    padding: 20px;
    color: white;
    background: $primary;
    border-radius: 5px 5px 0 0;
    .footer-share-header-heading {
      font-size: 1.1em;
      i {
        top: 6px;
        left: 0px;
        font-size: 35px;
        position: absolute;
      }
    }
    .footer-share-header {
      width: 85%;
      font-weight: 300;
      font-size: 0.8em;
      line-height: 20px;
    }
  }
  .footer-whatsapp-share-footer {
    padding-bottom: 20px;
    margin-top: 50px;
    color: black;
    p {
      font-weight: 300;
      font-size: 0.75em;
      margin-bottom: 0;
    }
  }
}
.footer-whatsapp-share-main-box {
  background: #f5f7f9;
  padding: 10px 20px;
  border-radius: 3px;
  border-left: solid 2px #2db742;
  margin-bottom: 10px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 7px 15px 1px rgba(55, 62, 70, 0.07);
    background: white;
  }
  a {
    display: inline-block;
    width: 100%;
    margin-bottom: -8px;
    .footer-whatsapp-share-left-side {
      img {
        width: 50px;
        border-radius: 50%;
      }
    }
    .footer-whatsapp-share-right-side {
      width: 213px;
      display: flex;
      float: right;
      i {
        float: right;
        font-size: 22px;
        color: #2db742;
        margin-top: 13px;
      }
      .footer-whatsapp-share-main-box-name {
        display: flex;
        flex-direction: column;
        color: black;
        float: right;
        margin-right: 10px;
        margin-top: 8px;
        .footer-share-name {
          font-size: 0.9em;
        }
        .footer-share-position {
          font-size: 0.7em;
          font-weight: 300;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .footer-whatsapp-share-box {
    right: 15px;
    width: 290px;
    height: 433px;
  }
  .footer-whatsapp-share-main-box a .footer-whatsapp-share-right-side {
    width: 158px;
  }
  .footer-whatsapp-share-box.footer-whatsapp-share-box-open {
    bottom: 70px;
  }
}
@media (min-width: 576px) {
  .footer-whatsapp-share {
    bottom: 20px;
    right: 20px;
  }
  .footer-whatsapp-share-box.footer-whatsapp-share-box-open {
    bottom: 100px;
  }
}

#main-div {
  position: fixed;
  width: 90px;
  height: 85px;
  left: 10px;
  bottom: 10px;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  span {
    background: white;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.2rem 0.5em;
    border-radius: 5px;
    margin: 0 0 1rem;
    position: relative;
    font-size: 0.9em;
  }
}
#main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 45px;
  cursor: pointer;
  background-color: $primary;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  a {
    i {
      color: #fff;
      font-size: 1.3rem;
      margin: 0;
    }
  }
}
