.bg-app {
  background: $primary;
  background: -moz-linear-gradient(90deg, $primary 0%, $primarydarker 100%);
  background: -webkit-linear-gradient(90deg, $primary 0%, $primarydarker 100%);
  background: linear-gradient(90deg, $primary 0%, $primarydarker 100%);
  min-height: 130px;
  position: relative;
  clip-path: ellipse(130% 60% at 50% 40%);
  -webkit-clip-path: ellipse(130% 60% at 50% 40%);
  background-position: center;
  background-size: cover;
  + .container {
    margin-top: -100px;
  }
  &.gradient {
    &:before {
      content: "";
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), transparent);
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      z-index: 3;
    }
  }
}
body.home .citynet-app {
  .v-card.theme--light {
    fieldset {
      border-radius: 12px !important;
    }
  }
  .v-btn {
    --smooth-corners: 25, 4;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
  }
  .v-application--wrap {
    z-index: 4;
  }
}
.item {
  .item-icon,
  .sub-title {
    color: #9f9f9f;
  }
  .sub-title {
    font-size: 0.9rem;
  }
}

#home-sections {
  .home-slider {
    .owl-item {
      height: 230px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 10px 31px -21px #c7c7c7;
      .content-post {
        .image-wrapper {
          width: 250px;
          height: 150px;
          img {
            width: 250px;
            height: 150px;
            border-radius: 8px;
          }
        }
        .title {
          a {
            color: #52575c;
          }
        }
      }
    }
    .owl-nav {
      button {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        background-color: #ffddd3;
        .icon-chevron-right,
        .icon-chevron-left {
          &::before {
            font-size: 18px;
          }
        }
        &:hover {
          background-color: #ff5722;
          .icon-chevron-right,
          .icon-chevron-left {
            &::before {
              color: #ffddd3;
            }
          }
        }
      }
    }
  }
}


.visa-section {
  margin-top: 80px;
  margin-bottom: 80px;

  h2 {
      text-align: center;
      display: block;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      background: #2e3192;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .all-content-visa-main {
      text-align: end;
  }

  h2.title {
      text-transform: none;
      width: fit-content;
      margin: auto;
      margin-bottom: 25px;

      a {
          font-size: 23px;
          font-style: normal;
          font-weight: 600;
          line-height: 40px;
          /* 111.111% */
          background: var(--additional-gradient-1, linear-gradient(90deg, #580318 0%, #db073d 100%));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
      }

      i {
          font-size: 28px;
          color: rgba(219, 7, 61, 1);
          margin-left: -4px;

          &:before {
              display: inline-block;
              margin: -17px 0 5px 1px;
          }
      }

      a.dsektop {
          font-size: 28px;
      }

      h2.desktop {}
  }

  .all-content-visa {
      border-radius: 12px;
      border: 1px solid #ebebeb;
      background: #fff;

      .image-wrapper {
          width: 100%;
          min-width: 100%;
          border-radius: 12px;

          img {
              min-width: 100%;
              border-radius: 12px;
          }
      }

      .title {
          margin: 10px;

          a {
              color: #262626;
              font-size: 14px;

              font-weight: 600;
          }
      }

      .content {
          color: #737373;
          font-weight: 300;
          font-size: 13px;
          margin: 10px;
      }

      .date-public {
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;

          span {
              font-size: 12px;
              color: #c7c7c7;
              margin: 0 9px;
          }
      }
  }
}