@media (min-width: 1200px) {
  #panel-header {
    min-width: 229px !important; 
  }

  body.home .citynet-app {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #colophon {
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    .menu-wrapper {
      min-height: unset;

      ul {
        width: unset;
        display: flex;
      }
    }

    .address-box {
      height: unset;

      .tel-box,
      .tel-box-en {
        height: 22px;
        width: fit-content;
      }

      .tel-box {
        padding-left: 10px;
        border-left: 1px solid #cacccf;
      }

      .tel-box-en {
        padding-right: 10px;
        border-right: 1px solid #cacccf;
      }

      .social-network,
      .social-network-en {
        margin-top: 0;

        ul {
          li {
            width: 30px;
            height: 30px;

            a {
              i {
                margin-top: 7px;
              }
            }
          }
        }
      }

      .social-network {
        left: 15px;
        right: unset;
      }

      .social-network-en {
        left: unset;
        right: 0;
      }
    }

    .namad-box {
      .cn-arrow-footer {
        height: 10px;

        .icon-arrow-up {
          bottom: unset;
          margin-top: -20px;
        }
      }
    }
  }

  #home-main-banner {
    margin-top: 16px;
    position: relative;
    height: 450px;

    .image-banner {
      border-radius: 20px;
      width: 100%;
      // height: 260px;
      display: block;
      overflow: hidden;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // &:after {
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      //   content: "";
      //   position: absolute;
      //   background: #00000026;
      // }
    }

    .border-panel {
      top: 30%;
      width: 100%;
      position: absolute;
    }
  }

  .item-box {
    margin-top: 8%;
  }
}

@media (min-width: 1400px) {
  #home-main-banner {
    .border-panel {
      min-height: 500px;

      +.container {
        margin-top: -360px;
      }
    }
  }
}