/*------------------- Global -------------------*/
@import 'update_1/global';
/*------------------- Header -------------------*/
@import 'update_1/header';
/*------------------- Hero -------------------*/
@import 'update_1/hero';
/*------------------- About -------------------*/
@import 'update_1/about';
/*------------------- Category -------------------*/
@import 'update_1/category';
/*------------------- Search -------------------*/
@import 'update_1/search';
/*------------------- Hotel -------------------*/
@import 'update_1/hotel';
/*------------------- Tour -------------------*/
@import 'update_1/tour';
/*------------------- Service -------------------*/
@import 'update_1/service';
/*------------------- Counter -------------------*/
@import 'update_1/counter';
/*------------------- Feature -------------------*/
@import 'update_1/feature';
/*------------------- Destination -------------------*/
@import 'update_1/destination';
/*------------------- Flight -------------------*/
@import 'update_1/flight';
/*------------------- Price -------------------*/
@import 'update_1/price';
/*------------------- Common -------------------*/
@import 'update_1/common';
/*------------------- Why -------------------*/
@import 'update_1/why';
/*------------------- Testimonial -------------------*/
@import 'update_1/testimonial';
/*------------------- Team -------------------*/
@import 'update_1/team';
/*------------------- Taxi -------------------*/
@import 'update_1/taxi';
/*------------------- Blog -------------------*/
@import 'update_1/blog-extra';
/*------------------- Footer -------------------*/
@import 'update_1/footer';