.widget {
    padding: var(--widget-padding-y, 40px) var(--widget-padding-x, 40px);
    background-color: $smoke-color;
    margin-bottom: 40px;
    position: relative;
    border-radius: 10px;

    select,
    input {
        height: 55px;
        border: none;
        background-color: var(--input-bg, #fff);
        border-radius: 5px;
    }
    &[data-overlay]:before {
        z-index: -1;
    }
}

.widget-elementor h5,
.wp-block-search__label,
.widget_title {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    font-family: $title-font;
    line-height: 1em;
    margin: -0.1em 0 30px 0;
    padding-bottom: 20px;
    &:before,
    &:after {
        content: '';
        height: 2px;
        width: 60px;
        background-color: $theme-color;
        position: absolute; 
        bottom: 0;
        left: 0;
    }
    &:after {
        left: 65px;
        width: 10px;
    }
}

.widget {
    .search-form {
        display: flex;

        input {
            flex: 1;
            border-radius: 5px 0 0 5px;
            padding-right: 12px;
        }

        button {
            border: none;
            width: 55px;
            height: 55px;
            background-color: $theme-color;
            color: $white-color;
            display: inline-block;
            border-radius: 0 5px 5px 0;

            &:hover {
                background-color: $title-color;
                color: $white-color;
            }
        }
    }
}

.wp-block-tag-cloud,
.tagcloud {
    a {
        display: inline-block;
        border: none;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1;
        padding: 11px 16px;
        margin-right: 5px;
        margin-bottom: 10px;
        color: $body-color;
        background-color: $white-color;
        border-radius: 4px;

        &:hover {
            background-color: $theme-color;
            color: $white-color !important;
        }
    }
}

.wp-block-tag-cloud,
.tagcloud {
    margin-right: -10px;
    margin-bottom: -10px;
}

.sidebar-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 11px;
    max-width: 308px;
    .gallery-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $white-color;
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%, 20px);
        &:hover {
            color: $theme-color;
        }
    }
    .gallery-thumb {
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        &:before {
            content: '';
            height: 100%;
            width: 100%;
            background-color: $title-color;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleX(0);
            border-radius: inherit;
            transition: 0.4s ease-in-out;
        }
        img {
            width: 100%;
        }
        &:hover {
            &:before {
                transform: scaleX(1);
            }
            .gallery-btn {
                visibility: visible;
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.recent-post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .media-img {
        margin-right: 15px;
        width: 85px;
        overflow: hidden;
        border-radius: 8px;

        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }

    .post-title {
        font-weight: 800;
        font-size: 16px;
        line-height: 28px;
        margin: 0 0 6px 0;
        font-family: $title-font;
        text-transform: capitalize;
    }

    .recent-post-meta {
        a {
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 400;
            color: $body-color;

            i {
                margin-right: 6px;
                color: $theme-color;
            }
            &:hover {
                color: $theme-color;
            }
        }
    }
    .tour-price {
        display: block;
        font-size: 14px;
        font-weight: 500;
        .price {
            color: $theme-color;
        }
    }
    &:hover {
        .media-img {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.sidebar-area {
    margin-bottom: -10px;
    ul.wp-block-latest-posts {
        margin-bottom: 0;

        li {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .wp-block-tag-cloud,
    .tagcloud {
        a {
            border: none;
        }
    }

    .widget .wp-block-search {
        margin-bottom: 0;
    }

    .wp-block-group__inner-container h2 {
        font-size: 20px;
        line-height: 1em;
        margin-bottom: 20px;
        margin-top: -0.07em;
    }

    ol.wp-block-latest-comments {
        padding: 0;
        margin: 0;

        li {
            line-height: 1.5;
            margin: 0 0 20px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}

// Author Widget --------------------
.author-widget-wrap {
    text-align: center;
    .avater {
        margin-bottom: 20px;
        img {
            border-radius: 50%;
        }
    }
    .name {
        font-size: 24px;
        color: $white-color;
        margin-bottom: 15px;
        a {
            color: inherit;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .author-bio {
        color: $white-color;
        margin-bottom: 23px;
    }
    .author-social {
        display: block;
        a {
            font-size: 16px;
            color: $white-color;
            position: relative;
            border-right: 1px solid $body-color;
            padding: 6px 15px 6px 0;
            margin-right: 12px;
            &:last-child {
                padding: 6px 0 6px 0;
                margin-right: 0;
                border-right: none;
            }
            &:hover {
                color: $theme-color;
            }
        }
    }
} 

// Download Widget --------------------
.donwload-widget-wrap {
    .ot-btn {
        width: 100%;
        background-color: rgba($color: #fff, $alpha: 0.1);;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &:before,
        &:after {
            background-color: $theme-color;
        }
    }
}

// Banner Widget --------------------
.widget_banner {
    text-align: center;
    background-color: $title-color;
    .widget_title {
        &:before, 
        &:after {
            background-color: $white-color;
            left: calc(50% - 35px);
        }
        &:after {
            left: calc(50% + 30px);
        }
    }
}
// Offer Widget --------------------
.widget_offer {
    background-color: $title-color;
}
.widget_banner {
    position: relative;
    z-index: 2;
    overflow: hidden;
    &:after {
        content: '';
        height: calc(100% - 50px);
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $theme-color;
        clip-path: polygon(0 calc(100% - 50px), 100% 0, 100% 100%, 0% 100%);
        z-index: -1;
    }
    &:before {
        content: '';
        position: absolute;
        left: calc(50% - 152px);
        top: -210px;
        width: 304px;
        height: 304px;
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid $theme-color;
        border-radius: 50%;
    }
}
.offer-banner {
    text-align: center;
    position: relative;
    .banner-logo {
        margin-bottom: 60px;
        margin-top: -25px;
    }
    .banner-subtitle {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        display: block;
        color: $white-color;
    }
    .banner-title {
        color: $white-color;
        max-width: 280px;
        margin: 0 auto 40px auto;
    }
    .offer {
        background: linear-gradient(98.44deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
        backdrop-filter: blur(10px);
        padding: 30px 30px 60px 30px;
        border-radius: 10px;
    }
    .offer-title {
        margin-bottom: 3px;
        text-transform: uppercase;
    }
    .offer-text {
        margin-bottom: -0.3em;
    }
    .ot-btn {
        margin-top: -30px;
        background-color: $title-color
    }
}

// Banner Widget --------------------
.info-list {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        color: $white-color;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
        padding-bottom: 14px;
        padding-top: 14px;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: -0.4em;
        }
    }
    strong {
        font-weight: bold;
        color: $theme-color;
        margin-right: 10px;
    }
}

// Book Widget --------------------
.widget-form {
    select,
    .form-control,
    .form-select,
    textarea,
    input {
        background-color: $white-color;
        border: none;
    }
    textarea.form-control, 
    textarea {
        min-height: 130px;
    }
    .form-group {
        margin-bottom: 10px;
        > i {
            background-color: $white-color;
        }
    }
    .row {
        --bs-gutter-x: 10px;
    }
}

.widget_shopping_cart {
    .widget_title {
        margin-bottom: 30px;
        border-bottom: none;
    }
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
        }
    }

    .mini_cart_item {
        position: relative;
        padding: 30px 30px 30px 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 0;
        text-align: left;

        &:first-child {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    .cart_list {
        a:not(.remove) {
            display: block;
            color: $body-color;
            font-size: 16px;
            font-weight: 500;
            font-family: $title-font;
            font-weight: 600;
            color: $title-color;

            &:hover {
                color: $theme-color;
            }
        }

        a.remove {
            position: absolute;
            top: 50%;
            left: 95%;
            transform: translateY(-50%);
            color: $body-color;

            &:hover {
                color: $theme-color;
            }
        }

        img {
            width: 75px;
            height: 75px;
            position: absolute;
            left: 0;
            top: 18px;
        }
    }

    .quantity {
        display: inline-flex;
        white-space: nowrap;
        vertical-align: top;
        margin-right: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    .total {
        margin-top: 20px;
        font-size: 18px;
        color: $title-color;
        font-family: $body-font;
        strong {
            font-family: $title-font;
        }
    }

    .amount {
        padding-left: 5px;
    }

    .as-btn {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.as-video-widget {
    .video-thumb {
        position: relative;
    }

    .play-btn {
        --icon-size: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        i {
            font-size: 16px;
        }
    }

    .video-thumb-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        margin-top: 10px;
        margin-bottom: -0.3em;
    }
}

.widget_recent_entries {
    ul {
        margin: -0.3em 0 0 0;
        padding: 0;
        list-style: none;

        li {
            > a {
                color: $body-color;
                font-weight: 500;
                display: inline-block;

                &:hover {
                    color: $theme-color;
                }
            }

            span.post-date {
                font-size: 14px;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #dadada;
                padding-bottom: 12px;
                margin-bottom: 12px;
            }
        }
    }
}
.widget_recent_comments,
.wp-block-latest-comments {
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}
ul.widget_recent_comments,
ol.widget_recent_comments,
.wp-block-latest-comments {
    margin-top: -0.11em;
    padding-left: 0;
}

.widget_recent_comments,
.wp-block-latest-comments {
    ol,
    ul {
        margin-bottom: 0;
    }
    li {
        margin-bottom: 0;
        color: $body-color;
        padding-left: 30px;
        position: relative;
        &:before {
            content: "\f086";
            position: absolute;
            left: 0;
            top: -1px;
            color: var(--theme-color);
            font-family: var(--icon-font);
        }
    }
    &.has-avatars {
        li {
            padding-left: 0;
            padding-bottom: 0 !important;
            &:before {
                display: none;
            }
        }
    }
    .avatar {
        margin-top: 0.4em;
    }
    li:not(:last-child) {
        padding-bottom: 12px;
    }
    article {
        line-height: 1.5;
    }
    a {
        color: inherit;
        &:hover {
            color: $theme-color;
        }
    }
}
.wp-block-latest-comments__comment {
    line-height: 1.6;
    a {
        color: $body-color;
        &:hover {
            color: $theme-color;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.wp-block-calendar tbody td,
.wp-block-calendar th {
    padding: 10px;
}

.wp-block-calendar,
.calendar_wrap {
    position: relative;
    background-color: #fff;
    padding-bottom: 0;
    border: none;

    span[class*="wp-calendar-nav"] {
        position: absolute;
        top: 9px;
        left: 20px;
        font-size: 14px;
        color: $white-color;
        font-weight: 400;
        z-index: 1;
        line-height: 1.7;

        a {
            color: inherit;
        }
    }

    span.wp-calendar-nav-next {
        left: auto;
        right: 20px;
    }

    caption {
        caption-side: top;
        text-align: center;
        color: $white-color;
        background-color: $theme-color;
    }

    th {
        font-size: 14px;
        padding: 5px 5px;
        border: none;
        text-align: center;
        border-right: 1px solid #fff;
        color: $title-color;
        font-weight: 500;
        &:first-child {
            border-left: 1px solid #eee;
        }
        &:last-child {
            border-right: 1px solid #eee;
        }
    }
    table {
        th {
            font-weight: 500;
        }
    }

    td {
        font-size: 14px;
        padding: 5px 5px;
        color: #01133c;
        border: 1px solid #eee;
        text-align: center;
        background-color: transparent;
        transition: all ease 0.4s;
    }

    #today {
        color: $theme-color;
        background-color: $white-color;
        border-color: #ededed;
    }

    thead {
        background-color: #fff;
    }

    .wp-calendar-table {
        margin-bottom: 0;
    }

    .wp-calendar-nav {
        .pad {
            display: none;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: $title-color;
        }
    }
}

.wp-block-calendar {
    margin-bottom: 30px;
    border: none;
    padding-bottom: 0;

    table {
        caption {
            color: $white-color;
        }
    }
}
ul,
ol {
    &.widget_rss,
    &.wp-block-rss {
        padding-left: 0;
    }
}
.widget_rss,
.wp-block-rss {
    list-style-type: none;
    ul {
        margin: -0.2em 0 -0.5em 0;
        padding: 0;
        list-style: none;

        .rsswidget {
            color: var(--title-color);
            font-family: var(--theme-font);
            font-size: 18px;
            display: block;
            margin-bottom: 10px;
        }

        .rssSummary {
            font-size: 14px;
            margin-bottom: 7px;
            line-height: 1.5;
        }

        a {
            display: block;
            font-weight: 600;
            color: inherit;

            &:hover {
                color: $theme-color;
            }
        }

        .rss-date {
            font-size: 14px;
            display: inline-block;
            margin-bottom: 5px;
            font-weight: 400;
            color: $title-color;

            &:before {
                content: "\f073";
                font-family: $icon-font;
                margin-right: 10px;
                font-weight: 300;
                color: $theme-color;
            }
        }

        cite {
            font-weight: 500;
            color: $title-color;
            font-family: $body-font;
            font-size: 14px;

            &:before {
                content: "";
                position: relative;
                top: -1px;
                left: 0;
                width: 20px;
                height: 2px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                background-color: $theme-color;
            }
        }
    }

    li:not(:last-child) {
        margin-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 16px;
    }
    a {
        &:hover {
            color: $theme-color;
        }
    }
}

.textwidget {
    margin-top: -0.1em;
}

.sidebar-area {
    .widget_shopping_cart .as-btn {
        margin-right: 10px;
        padding: 8px 22px;
        font-size: 14px;
    }
}

.sidebar-area {
    .widget_shopping_cart .as-btn {
        margin-right: 10px;
        padding: 8px 22px;
        font-size: 14px;
    }
}

@include lg {
    .widget {
        --widget-padding-y: 30px;
        --widget-padding-x: 30px;
    }
    .widget_title {
        font-size: 20px;
    }
    .widget_offer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@include md {
    .sidebar-area {
        padding-top: 30px;
    }
    .widget {
        --widget-padding-y: 40px;
        --widget-padding-x: 40px;
    }

    .wp-block-tag-cloud a,
    .tagcloud a {
        padding: 10.5px 18px;
    }
}

@include sm {
    .widget {
        padding: 35px 20px;
    }
}

@media (max-width: 330px) {
    .recent-post {
        .post-title {
            font-size: 14px;
        }
        .recent-post-meta a {
            font-size: 13px;
        }
    }
}