.icon-box {
    .slick-arrow {
        &:first-child {
            margin-right: 5px;
        }
    }
}

.btn-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px 30px;
}

@include lg {
    p {
        &.mb-30 {
            margin-bottom: 25px;
        }
        &.mb-35 {
            margin-bottom: 28px;
        }
        &.mb-40 {
            margin-bottom: 32px;
        }
        &.mb-45 {
            margin-bottom: 35px;
        }
    }
}